@import "@/scss/variables";

$pd-element-x: 1.25rem;
$pd-element-y: 0.9rem;
$gap-element: 0.75rem;
$name-font-size: 18px;
$days-font-size: 14px;

.ingredientGridContainer {
	display: flex;
	flex-wrap: wrap;
	padding: $pd-sm;
}

.ingredientElementContainer {
	flex-basis: calc(100% / 3);
	padding: $pd-element-y $pd-element-x;
	display: flex;
	flex-direction: column;
	gap: $gap-element;
	text-align: center;
}

.ingredientName {
	font-size: $name-font-size;
	font-weight: bold;
}

.ingredientDays {
	font-size: $days-font-size;
	font-weight: 500;
	color: $grey-500;
}

@mixin ingredient-icon {
	max-width: 100%;
	max-height: 100%;
	z-index: -1;
}
.ingredientIcon {
	@include ingredient-icon();
}
.ingredientIcon_expired {
	@include ingredient-icon();
	filter: grayscale(100%);
}
