@import "@/scss/variables";

$pd-element-x: 1.25rem;
$pd-element-y: 0.9rem;
$gap-element: 0.75rem;

$name-font-size: 17px;
$name-font-color: $grey-800;
$name-font-weight: 400; //bold;

$days-font-size: 14px;
$days-font-color: $grey-500;
$days-font-weight: 400; //500;

.ingredientGridContainer {
	display: flex;
	flex-wrap: wrap;
	padding: $pd-sm;
}

.ingredientElementContainer {
	flex-basis: calc(100% / 3);
	padding: $pd-element-y $pd-element-x;
	display: flex;
	flex-direction: column;
	gap: $gap-element;
	text-align: center;
}

.ingredientInfo {
	display: flex;
	flex-direction: column;
	margin-top: 0.5rem;

	.ingredientName {
		font-size: $name-font-size;
		font-weight: $name-font-weight;
		color: $name-font-color;
		letter-spacing: 0.5px;
	}

	.ingredientDays {
		font-size: $days-font-size;
		font-weight: $days-font-weight;
		color: $days-font-color;
	}
}

@mixin ingredient-icon {
	position: relative;
	max-width: 100%;
	max-height: 100%;
	z-index: -1;
}
.ingredientIcon {
	@include ingredient-icon();
}
.ingredientIcon_expired {
	@include ingredient-icon();
	filter: grayscale(100%);
}
