@import "@/scss/variables";

$comment-nickname-font-size: 17px;
$comment-nickname-font-color: $grey-900;

$comment-content-font-size: 16px;
$comment-content-font-color: $grey-700;

$comment-info-font-size: 14px;
$comment-info-font-color: $grey-400;

.recipeComments {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	border-top: 1px solid $grey-300;
	padding: 0 $pd-basic;

	.commentExtraInfo {
		display: flex;
		gap: 0.25rem;
		align-items: center;

		// @include recipe-info();
		font-size: 14px;
		color: $grey-400;
		font-weight: 400;
		line-height: 1.6rem;
		margin-top: -0.375rem;
		padding: 0rem 0rem 0.8rem 0rem;
	}

	.commentIcon {
		padding: 1px;
		color: $grey-400;
	}
}

.commentHeader {
	display: flex;

	.commentNickname {
		flex: 1;
		color: $grey-900;
		font-size: $comment-nickname-font-size;
		font-weight: bold;
	}

	.commentMenu {
		display: flex;
		gap: 0.5rem;
		color: $comment-info-font-color;
		font-size: $comment-info-font-size;
	}
}

.commentContent {
	color: $comment-content-font-color;
	font-size: $comment-content-font-size;
	font-weight: 400;
	line-height: 1.6rem;
}
