HELP.md
.DS_Store
.gradle
build/
backup/
test/testdata
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

../.github/kubectl
../kubernetes/
../.DS_Store
../.gitignore
../2022-tour-common-api/
../2023-coding-test-with-python/
../2023-db-access/
../2023-han/
../2023-java-refactoring/
../2023-java-study/
../2023-jpa-application/
../2023-ngrinder/
../2023-numble-banking/
../2023-querydsl/
../2023-real-mysql80/
../2023-redis-study/
"../2023-refrigerator-recipe - \353\263\265\354\202\254\353\263\270 2/"
"../2023-refrigerator-recipe \353\263\265\354\202\254\353\263\270/"
../2023-spring-security/
../2023-think-data-structures-java/
../2023-tour-api/
../AwesomeProject/
../Glich.github.io/
../To-Do/
../account_book/
../back-end-practice/
../binary-classification/
../book-recommend/
../bookRecommend/
../carot-challenge/
../coding-test-with-java/
../darwin-amd64/
../docker-compose-test/
../docker-practice/
../dvc-tutorial/
../get_helm.sh
../github-actions-practice/
../java-coding-test/
../java-pairmatching-precourse/
../java-vendingmachine-precourse/
../java_study/
../jenkins-study/
../k8s_nginx/
../kubeflow-practice/
../kubernetes-practice/
../mlflow-practice/
../multi-label-classification/
../nginx-test/
../recipe_search/
../redis-test/
../refrigerator/
../smart-tour-platform-for-front/
../smart-tour-platform-for-user/
../smartgov-front-test/
../springSecurity_with_jwt/
../spring_study/
../springmvc/
../study_react/
../support-vector-regression/
../test-react/
../tour/.DS_Store
../tour/.github/
../tour/Dockerfile
../tour/deployment.yaml
../tour/ingress.yaml
../tour/kustomization.yaml
../tour/secret.yaml
../tour/service.yaml
../tour/src/main/java/tour/report/tour/webMvcConfig.java
../vanilaJS_chromeApp/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
*.yml
*.sql
application.properties
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
