.profileContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
	gap: 15px;
}

.profileTitle {
	font-size: 27px;
	font-weight: 600;
}

.profileImages {
	img {
		width: 100px;
		height: 100px;
	}
	button {
		margin: 1px;
		border-color: black;
	}
}

.nicknameRule {
	margin-top: -10px;
}

.regularNick {
	color: #6fb2d2;
	span {
		display: flex;
		font-size: 14px;
		justify-content: left;
	}
}
