@import "@/scss/variables";

$bottom-sheet-pd: 0.9rem;
$bottom-sheet-border-radius: 0.75rem 0.75rem 0 0;

$header-bg-color: $grey-100;
$header-font-color: $grey-800;
$header-font-size: 17px;

.bottomsheetBackground {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-color: rgba(black, 0.5);
}

.bottomsheet {
	position: fixed;
	bottom: 0;
	max-height: 90%;
	width: 100%;
	z-index: 2;

	display: flex;
	flex-direction: column;

	border-radius: $bottom-sheet-border-radius;
	background-color: white;

	> div {
		display: flex;
	}

	.bottomsheetHeader {
		padding: $bottom-sheet-pd;
		border-bottom: $divider;
		border-radius: $bottom-sheet-border-radius;
		background-color: $grey-100;

		> span {
			flex: 1;
			text-align: center;
			color: $header-font-color;
			font-size: $header-font-size;
			line-height: $header-font-size;
			font-weight: bold;
			letter-spacing: 0.5px;
		}

		.closeBtn {
			position: absolute;
			right: 24px;
		}
	}

	.bottomsheetBody {
		overflow: scroll;
	}

	.bottomsheetFooter {
		background-color: $grey-100;

		> button {
			flex: 1;
			border: none;
			background-color: transparent;
			padding: $bottom-sheet-pd;
			color: $header-font-color;
			font-size: $header-font-size;
			line-height: $header-font-size;
			letter-spacing: 0.5px;
			border-left: $divider;
		}
	}
}
