@import "@/scss/variables";

.commentBoxContainer {
	position: fixed;
	width: 100%;
	display: flex;
	flex-direction: column;
	bottom: 0;
}

.commentStatus {
	flex: 1;
	font-size: 14px;
	color: $grey-500;
	text-align: center;
	padding: 0.375rem;
}

.commentInputContainer {
	display: flex;
	width: 100%;
	display: flex;
	bottom: 0;
	gap: 0.25rem;
	border-top: 1px solid $grey-300;
}

.commentBox {
	flex: 1;
	padding: 1rem;
	background-color: white;
	border: none;
	font-size: 17px;
	color: $grey-700;

	&:focus {
		outline: none;
	}
}
.commentBox::placeholder {
	color: $grey-400;
}

.commentBtn {
	padding: 0 1rem;
	margin: 0.75rem 0;
	background-color: transparent;
	border: none;
	border-left: 1px solid $grey-300;
	color: $grey-700;

	&:disabled {
		color: $grey-400;
	}
}

.commentStatusBar {
	display: flex;
	padding: 0 0.5rem;
	color: $grey-500;
	align-items: center;
}
