.passwordContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
	gap: 15px;
}

.passwordTitle {
	font-size: 27px;
	font-weight: 600;
}

.passwordInput {
	width: 320px;
	height: 57px;
}

.passwordBtn {
	width: 320px;
	height: 57px;
	margin-bottom: 35px;
}

.checkEmail,
.checkPw,
.clickBtn {
	margin-top: -12px;
}

.checkEmailTrue,
.checkPwTrue {
	color: blue;
}

.checkEmailFalse,
.checkPwFalse {
	color: red;
}

.clickTrue span {
	display: flex;
	font-size: 12px;
	justify-content: left;
}
